.pagination-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 5%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    height: 40vh;
    width: 50%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

.sort-by-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.sort-by-container button {
    cursor: pointer;
}