.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 0.8% 0.8%;
}

.card {
    border-radius: 4px !important;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 4px 38px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    cursor: pointer;
    padding: 2% 2%;
}

.card * {
    color: hsla(236, 100%, 8%, 1) !important;
}

.card:hover {
    background: whitesmoke;
    transition: ease-out;
}

.card-title {
    font-weight: 600 !important;
}

.card-foot {
    display: flex !important;
    justify-content: space-between !important;
}

.card-foot span {
    color: rgb(17, 152, 237) !important;
}