* {
    color: whitesmoke !important;
    /* font-family: 'Poppins', sans-serif; */
    font-family: -apple-system,Nunito,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
}

body {
    /* min-height: 100%;
   
    background: linear-gradient(black,
            hsla(236, 100%, 8%, 1),
            hsla(211, 100%, 28%, 1)) !important;
    background-attachment: fixed; */
}